<table class="table">
  <thead>
    <tr>
     
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% if @clientes.nil? %>
	 <tr>
    	<td>No hay clientes cargados</td>
  	</tr>
	<% else %>
    <% @clientes.each do |cliente| %>
      <tr>
       
        <td><%= cliente.nombre %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.email %></td>
        <td><%= button_to 'Ver', negocio_cliente_path(@negocio,cliente),method: :get, class: 'btn btn-info btn-sm' %></td>

         <td><%= button_to 'Editar', edit_negocio_cliente_path(@negocio,cliente),method: :get, class: 'btn btn-warning btn-sm' %></td>
        <td><%= button_to 'Eiminar', negocio_cliente_path(@negocio,cliente), method: :delete,class: 'btn btn-danger btn-sm', data: { confirm: 'Seguro desea eliminar este cliente?' },remote: true %></td>

      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>