
<%= form_for(cierre, url: negocio_cierre_path(negocio_id: cierre.negocio_id), html: {class: "miform form-horizontal"}) do |f| %>
  <% if cierre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cierre.errors.count, "error") %> prohibited this cierre from being saved:</h2>

      <ul>
      <% cierre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="row field">
    <%= f.label :monto_inicial, class: "col-sm-4" %>
    <%= f.text_field :monto_inicial, class: "col-sm-4" %>
  </div>



  <div class="row field">
    <%= f.label :observacion, class: "col-sm-4" %>
    <%= f.text_field :observacion, class: "col-sm-4" %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
