<%= simple_form_for(admin , html: {class: "miform form-horizontal"},validate: true)  do |f| %>
  <%= f.error_notification %>
  <h4>Nuevo Administrador</h4>
  <div class="form-group">
    <%= f.label :usuario, class: "col-sm-4" %>
    <%= f.text_field :usuario, validate: { presence: true}, class: "col-sm-5" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Contraseña", class: "col-sm-4"%>
    <%= f.password_field :password , class: "col-sm-5"%>
  </div>

  <div class="form-group">
     <%= f.label :password_confirmation, "Confirmar contraseña", class: "col-sm-4" %>
      <%= f.password_field :password_confirmation, class: "col-sm-5" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-4" %>
    <%= f.email_field :email, class: "col-sm-5",placeholder: "ejemplo@mail.com" %>
  </div>

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-4" %>
    <%= f.text_field :nombre, class: "col-sm-5" %>
  </div>

  <div class="form-group">
    <%= f.label :telefono, class: "col-sm-4" %>
    <%= f.text_field :telefono, class: "col-sm-5" %>
  </div>

  <div class="actions" align="center">
    <%= f.submit "Registrar",class: "btn btn-primary" %>
  </div>
<% end %>
