<%= render 'negocios/menu_negocio',negocio: @negocio %>

<h4>Detalle de cierre N°<%= @cierre.id%></h4>

<table class="table">
  <thead>
    <tr>
      
      <th>Descripcion</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_cierres.each do |detalle_cierre| %>
      <tr>
       
        <td><%= detalle_cierre.descripcion %></td>
        <td><%= detalle_cierre.monto %></td>
      
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
        <td align="right"><label for="total">Total:</label></td>
        <td>$<%=@cierre.monto_final%></td>
    </tr>
  </tfoot>
</table>

<br>
<%= link_to "Volver a históricos",negocio_historico_cierres_path(@negocio) %>

