<table class="table">
  <thead>
    <tr>
      <th>Descripcion</th>
  
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @gastos_usuario.nil? %>
  <tr>
    <td>No hay gastos cargados</td>
  </tr>
  <% else %>
    <% @gastos_usuario.each do |gasto| %>
      <tr>
        <td><%= gasto.descripcion %></td>
    
        <td><%= gasto.monto %></td>
         <td><%= button_to 'Ver', negocio_gasto_path(@negocio,gasto),method: :get, class: 'btn btn-info btn-sm' %></td>

         <td><%= button_to 'Editar', edit_negocio_gasto_path(@negocio,gasto),method: :get, class: 'btn btn-warning btn-sm' %></td>
        <td><%= button_to 'Eiminar', negocio_gasto_path(@negocio,gasto), method: :delete,class: 'btn btn-danger btn-sm', data: { confirm: 'Seguro desea eliminar este gasto?' },remote: true %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
