<%= form_for(proveedor,url: negocio_proveedor_path(negocio_id: proveedor.negocio_id), html: {class: "miform form-horizontal"}) do |f| %>
  <% if proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-4" %>
    <%= f.text_field :nombre, class: "col-sm-5" %>
  </div>

  <div class="form-group">
    <%= f.label :telefono, class: "col-sm-4" %>
    <%= f.text_field :telefono, class: "col-sm-5" %>
  </div>
  <div class="form-group">
    <%= f.label :celular, class: "col-sm-4" %>
      <%= f.text_field :celular, class: "col-sm-5" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-4" %>
    <%= f.text_field :email, class: "col-sm-5" %>
  </div>

   <div class="form-group">
     <%= f.label :domicilio, class: "col-sm-4" %>
    <%= f.text_field :domicilio, class: "col-sm-5" %>
  </div>

   <div class="form-group">
    <%= f.label :descripcion, class: "col-sm-4" %>
    <%= f.text_field :descripcion, class: "col-sm-5" %>
  </div>

  

   <div class="actions" align="center">
    <%= f.submit "Actualizar datos",class: "btn btn-primary" %>
  </div>

<% end %>