<%= form_for(tipo_pago, url: negocio_tipo_pagos_path(@negocio), html: {class: "miform form-horizontal"}, remote: true) do |f| %>
  <% if tipo_pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_pago.errors.count, "error") %> prohibited this tipo_pago from being saved:</h2>

      <ul>
      <% tipo_pago.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>
   <div class="field">
    <%= f.label :modificador %> %
    <%= f.text_field :modificador %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
