<%= render 'negocios/menu_negocio',negocio: @negocio %>

<h4>Ventas del dia</h4>

<table class="table">
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventas.each do |venta| %>
      <tr>
        <td><%= venta.ticket %></td>
        <td><%= venta.usuario.nombre %></td>
        <td><%= venta.fecha.strftime("%d/%m/%Y") %></td>
        <td>$<%= venta.total %></td>
         <td><%= button_to 'Ver', negocio_venta_detalle_ventas_path(@negocio,venta), method: :get,class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


