<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @venta.ticket %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @venta.usuario %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @venta.fecha %>
</p>

<p>
  <strong>Total:</strong>
  <%= @venta.total %>
</p>

<%= link_to 'Edit', edit_venta_path(@venta) %> |
<%= link_to 'Back', ventas_path %>
