<%= render 'negocios/menu_negocio_usuario',negocio: @negocio %>

<h4>Ventas diarias</h4>
<%= form_for (:caja), url:negocio_filtrar_caja_path(@negocio), html: {method: :get,class: "miform form-horizontal"}, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :caja_id,"Filtrar por caja:", class: "col-sm-4" %>
    <%= f.collection_select :caja_id, Caja.where(negocio_id: @negocio.id), :id, :nombre, prompt: "TODAS", class: "col-sm-4"%>
  </div>
 
   <div class="actions" align="center">
    <%= f.submit "Filtrar",class: "btn btn-primary" %>
  </div>
<% end %>

<div id="tablav_usuario">
  <%= render 'tablav_usuario',ventas: @ventas %>
</div>


