<div class="container col-xs-12 col-md-12">
<div class="row">
<nav class="navbar navbar-inverse" id="menuadmin">
      <div class="container" id="containermenu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-admin" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div id="navbar-admin" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="navmenu">
                <li>
                   
                        <a class="dropdown-toggle" type="button" id="dropdownVarios" data-toggle="dropdown">
                          Ventas
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li><%= link_to "Facturacion", new_negocio_venta_url(negocio) %></li> 
                          <li><%= link_to "Ventas diarias",negocio_ventas_usuario_url(negocio) %></li>
                          <li><%= link_to "Cerrar caja",negocio_cierre_caja_url(negocio) %></li>
                         
                        </ul>
                    
                 </li>
                
                <li>
                   
                        <a class="dropdown-toggle" type="button" id="dropdownVarios" data-toggle="dropdown">
                          Stock
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li><%= link_to "Agregar producto",new_negocio_producto_url(negocio) %></li> 
                          <li><%= link_to "Lista productos",negocio_productos_url(negocio) %></li>
                         
                        </ul>
                    
                 </li>

                  <li>
                   
                        <a class="dropdown-toggle" type="button" id="dropdownVarios" data-toggle="dropdown">
                          Proveedores
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li><%= link_to "Agregar proveedor",new_negocio_proveedor_url(negocio) %></li> 
                          <li><%= link_to "Lista proveedores",negocio_proveedors_url(negocio) %></li>
                          <li><%= link_to "Cuentas proveedores",new_negocio_cuenta_proveedor_url(negocio) %></li>
                        </ul>
                    
                 </li>
               
               
                 <li>
                   
                        <a class="dropdown-toggle" type="button" id="dropdownVarios" data-toggle="dropdown">
                          Administracion
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                           <li><%= link_to "Gestion de clientes",  new_negocio_cliente_url(negocio) %></li> 
                           <li><%= link_to "Cuentas clientes",  new_negocio_cuenta_cliente_url(negocio)%></li> 
                          <li><%= link_to "Cargar Gastos", new_negocio_gasto_url(negocio) %></li> 
                         
                          <li><%= link_to "Realizar pedidos",  new_negocio_pedido_url(negocio) %></li>
                           <li><%= link_to "Pedidos pendientes",  negocio_pedidos_url(negocio) %></li>
                         
                            
                        </ul>
                    
                 </li>
            </ul>
           
         
        </div><!--/.navbar-collapse -->
      </div>
</nav>
</div>
</div>