<%= simple_form_for(caja, url: negocio_cajas_path(negocio_id: @negocio.id), html: {class: "miform form-horizontal"},remote: true, validate: true) do |f| %>
  <%= f.error_notification %>
  <div class="row field">
    <%= f.label :nombre, class: "col-sm-4" %>
    <%= f.text_field :nombre, class: "col-sm-4" %>
  </div>
   <%= f.hidden_field :negocio_id, value: @negocio.id %>

   <div class="actions" align="center">
    <%= f.submit "Crear",class: "btn btn-primary" %>
  </div>
<% end %>





