<%= render 'negocios/menu_negocio',negocio: @negocio %>

<h4>Cuenta de proveedores</h4>

<table class="table">
  <thead>
    <tr>
      <th>Proveedor</th>
      <th>Negocio</th>
      <th>Monto adeudado</th>
      <th>Observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuenta_proveedores.each do |cuenta_proveedor| %>
      <tr>
        <td><%= cuenta_proveedor.proveedor.nombre %></td>
        <td><%= cuenta_proveedor.negocio.nombre %></td>
        <td><%= cuenta_proveedor.monto_adeudado %></td>
        <td><%= cuenta_proveedor.observacion %></td>
       <td><%= button_to 'Pagos realizados', negocio_pago_proveedores_path(@negocio),params:{cuenta_id: cuenta_proveedor.id}, method: :get,class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>



