<p id="notice"><%= notice %></p>

<p>
  <strong>Proveedor:</strong>
  <%= @cuenta_proveedor.proveedor %>
</p>

<p>
  <strong>Negocio:</strong>
  <%= @cuenta_proveedor.negocio %>
</p>

<p>
  <strong>Monto adeudado:</strong>
  <%= @cuenta_proveedor.monto_adeudado %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @cuenta_proveedor.observacion %>
</p>

<%= link_to 'Edit', edit_cuenta_proveedor_path(@cuenta_proveedor) %> |
<%= link_to 'Back', cuenta_proveedores_path %>
