<!DOCTYPE html>
<html>
  <head>
    <title>Stocker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if logged_in_admin? %>
        <%= render 'layouts/admin_navbar' %>
     <% elsif logged_in? %>
        <%= render 'layouts/usuario_navbar' %>
      
     <% else%>
	   <%= render 'layouts/navbar' %>
    <% end %> 


  

    <div class="row">
     
		  <div class="col-sm-6 col-sm-push-3 " style="padding-top: 20px;" >
                  <% flash.each do |message_type, message| %>
                   <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                
			        	<%= yield %>
			        

          </div>
       <div class="col-sm-3 col-sm-pull-6"><p></p>br>
       </p> aqui est ala izquierda</div>
        <div class="col-sm-3">aqui estamos </br>esta es la derecha</div>
   </div>

  </body>
</html>
