<!DOCTYPE html>
<html>
  <head>
    <title>Stocker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if logged_in_admin? %>
        <%= render 'layouts/admin_navbar' %>
     <% elsif logged_in? %>
        <%= render 'layouts/usuario_navbar' %>
      
     <% else%>
	   <%= render 'layouts/navbar' %>
    <% end %> 


  



		  <div class="col-md-6 col-md-offset-3" style="padding-top: 20px;" >
                  <% flash.each do |message_type, message| %>
                   <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                
			        	<%= yield %>
			        

          </div>
   

  </body>
</html>
